/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 html {
   min-height: 100%;
   position: relative;
 }

 body {
   background-color: #f8f8f8;
   color: #333;
 }

 .navbar{
   border-radius: 0px;
   background-color: #fff;
   margin-bottom:30px;
 }

 .contents{
   margin-bottom: 60px;
 }

 .contents p{
   text-align: center;
 }

.post{
  background-color: #fff;
  border:solid 1px #ddd;
  padding:10px;
  margin-bottom: 30px;
}

.post-info{
  padding:10px 0px;
}

.input-post-info{
  padding-bottom: 5px;
}

.footer{
   text-align: center;
   background-color: #fff;
   border-top: solid 1px #ddd;
   color:#333;
   padding: 15px;
   position: absolute;
   height:60px;
   min-width: 100%;
   bottom:0;
 }
